each comment in comments
    .well.well-sm
        p
            | !{comment.content}
        p
            i.fa.fa-user
            |  #{comment.owner.username}&nbsp;
            i.fa.fa-calendar
            |  #{moment(comment.createdAt).format("Do MMMM YYYY HH:mm:ss")}


if(comments.length == 0)
    .well.well-sm.text-center
        | Brak komentarzy