each post in posts
    .well.well-sm
        if(post.image)
            .thumbnail
                img(src=post.image, class="img-responsive")
        h3
            a(href=post.detailUrl(host))= post.title
        p
            if(post.owner)
                i.fa.fa-pencil
                |  #{post.owner.username}&nbsp;
            i.fa.fa-calendar
            |  #{moment(post.createdAt).format("Do MMMM YYYY HH:mm:ss")}


