each post in posts
    .well.well-sm
        h3
            a(href=post.detailUrl(host))= post.title
        p
            i.fa.fa-user
            |  #{post.owner.username}&nbsp;
            i.fa.fa-calendar
            |  #{moment(post.createdAt).format("Do MMMM YYYY HH:mm:ss")}


if(!posts.length)
    .well.well-sm.text-center
        | Brak wpisów
