form(action="/auth/login" method="post")
    div.form-group
        label.form-label(for="username")
            | Nazwa użytkownika
        input#username.form-control(type="text" name="username" required=true)
    div.form-group
        label.form-label(for="password")
            | Hasło
        input#password.form-control(type="password" name="password" required=true)
    div.form-group
        input.form-control.btn.btn-success(type="submit" value="Zaloguj")